<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<!-- <web-app> -->
<!--   <display-name>Archetype Created Web Application</display-name> -->
<!--   <servlet> -->
<!--   	<servlet-name>SaveAdresServlet</servlet-name> -->
<!--   	<display-name>SaveAdresServlet</display-name> -->
<!--   	<description>Try to save an Adres object</description> -->
<!--   	<servlet-class>nl.kadaster.presentatie.SaveAdresServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--   	<servlet-name>SaveAdresServlet</servlet-name> -->
<!--   	<url-pattern>/SaveAdres</url-pattern> -->
<!--   </servlet-mapping> -->
<!-- </web-app> -->

<web-app>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-presentatie.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

</web-app>

<!-- <web-app> -->
<!-- 	<display-name>Address web-service application</display-name> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>spring-ws</servlet-name> -->
<!-- 		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>transformWsdlLocations</param-name> -->
<!-- 			<param-value>true</param-value> -->
<!-- 		</init-param> -->
<!-- 	</servlet> -->

<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>spring-ws</servlet-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

<!-- </web-app> -->